h1{
    color:blueviolet;
    text-decoration: underline;
    text-align: center;
}
.ex{
    background-color: silver;
    height: 250px;
    width: 600px;
    margin-left: 30%;
    text-align: center;
}
#previous{
    margin-left: 30%;
}
#next{
    margin-left: 23%;
}